body {
    background-image: url(https://wallpaperaccess.com/full/260170.png);
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.title {
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    font-size:  60px;
    background-color: rgb(201, 201, 201);
    border-radius: 30px;
    border: solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.555);
}

.container-fluid {
    background-color: rgb(217, 227, 250);
    margin: auto;
    margin-top: 20px;
    width: 600px;
    min-height: 250px;
    text-align: center;
    border-radius: 10px;
    border: solid black;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.555);
}

.inputT {
    width: 300px;
    height: 50px;
    margin: 20px 0px 20px 0px;    
}

.tasks {
    height: 70px;
    font-size: 40px;
    padding-left: 15px;
    text-align: left;
    border-bottom: solid 1px rgb(128, 124, 124);
}

.tasksNumber {
    padding: 10px;
    margin: 5px;
}

i {
    float: right;
    padding: 20px;
    font-size: 20px;
}
.tasks:hover .fa-solid{
    visibility: visible;
}

.fa-solid {
    visibility: hidden;
}
.fa-solid:hover {
    color: red;
}